.subContainer {
    &__header {
        border-bottom: 1px solid #DDDDDD;
        border-top: 1px solid #DDDDDD;

        @media (min-width:1024px) {
            &--fixed {
                position: fixed;
                top: 0;
                width: 100%;
                background-color: white;
                z-index: 9999;
                border-bottom: 1px solid #DDDDDD;
                padding: 24px;
            }
        }

    }

    &__side-menu {
        float: inline-end
    }

    &__sidebar-hidden {
        display: none;
    }

    &__section {
        background-color: #F6F6F6;
        overflow: hidden;
    }
}