# IDE / Editor
.idea/
.vscode/

# Logs
logs/
*.log

# Dependency directories
node_modules/
vendor/

# Build output
DSFRChart/
BarChart/
BarLineChart/
DataBox/
GaugeChart/
LineChart/
MapChart/
MapChartReg/
MultiLineChart/
PieChart/
RadarChart/
ScatterChart/
TableChart/

# File systems
.DS_Store
Thumbs.db

# Storybook & playwright
/test-results/
/blob-report/
/storybook-static/
/playwright-report/
/playwright/.cache/
