.subContainer {
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-start;
  }
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-title>h4 {
  margin-bottom: 0 !important;
}

.flex-container {
  max-width: none;
  overflow: hidden;
}