.subContainer {
  &__head-section {
    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__img {
    display: flex;
    margin-top: -57px;
    align-items: center;
    justify-content: flex-start;
  }
}