.subContainer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -16px;
  }

  &__content {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 508px;
    margin-bottom: 24px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    width: 100%;
  }
}