.subContainer {

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    height: 64px;
    padding: 10px;
  }


  &__icon {
    display: flex;
    align-items: baseline;
  }

  &__fullScreenIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
  }

  &__selectSection {
    border-bottom: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    max-height: 40px;
    display: flex;
    align-items: center;
  }

  &__subSection {
    border-bottom: 1px solid #dddddd;
    max-height: 40px;
  }

  &__segmented-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
  }

  &__calltoaction {
    display: flex;
    align-items: center;
  }

  &__footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    max-height: 48px;
    height: 48px;
    padding: 12px;
    width: 100%;
    gap: 24px;
  }

  &__footer-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
  }

  &__legendContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 8px;
  }

  &__legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 6px 10px 8px 6px;

    &--icon {
      height: 8px;
      width: 12px;
      margin-right: 5px;
    }
  }

  &__contentIndicator {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__chart {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;

    &--section {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 15px;

      &--unit {
        margin-top: 2.5rem;
        rotate: -180deg;
        writing-mode: vertical-rl;
        white-space: nowrap;
      }
    }

    &--canvas {
      flex: 3;
      display: contents;
    }
  }
}

.table-responsive {
  // display: flex;
  // align-items: flex-start;
  width: 100%;
  max-height: 403px;
  height: 403px;
  overflow-x: auto;
  padding: 0px 10px;
}

.text {
  font-size: 0.625rem;
}

.card-container {
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  z-index: 510;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
  right: 10px;
  top: 45px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  text-decoration: none;
  color: inherit;
  padding: 10px 12px;
  display: block;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  width: 100%;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: inherit;
}

.dropdown-item:active,
.dropdown-item:focus {
  outline: none;
}

.fr-icon-question-line,
.fr-icon-more-line,
.fr-icon-camera-line,
.fr-icon-download-fill {
  color: #000091;
}

.serie__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em;
  white-space: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.subContainer__title {
  position: relative;
}

.tooltip__description {
  font-weight: 400;
  font-size: 0.8rem !important;
  margin: 0;
  line-height: 1.4;
}

.tooltip__title {
  font-size: .8rem !important;
  margin: 0;
  font-weight: bold;
  line-height: 1.4;
}

.up-down__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.fr-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fr-modal {
  &-content {
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }

  &__body {
    max-height: 95% !important;
    height: 95% !important;
    margin: 1rem;
  }
}

.fr-icon-modal-fill {
  width: 32px;
  display: inline-block;
  -webkit-mask-image: url("/img/modal-fill.svg");
  mask-image: url("/img/modal-fill.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  outline: none;
}

canvas {
  width: 100%;
  height: 100%;
}

.fullscreen-canvas {
  width: 100vw;
  height: 100vh;
}

.modal-canvas {
  width: 80vw;
  height: 80vh;
}

.databox-card {
  box-shadow: 0px 2px 6px 0px #00001229;
  background-color: white;
  flex: 1;
  box-sizing: border-box;
}

.box {
  flex: 1;
  max-width: 45%;
  background-color: #f5f5f5;
  padding: 10px;
  box-sizing: border-box;
  display: contents;
}

.databox {
  // &__header {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   width: 100%;
  //   flex-direction: column;
  //   height: 80px;
  // }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__footer {
    display: flex;
    width: 100%;
  }

  &__group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--height {
      height: 100%;
      /* par défaut pour les écrans inférieurs à 1248px */
    }
  }
}

@media (min-width: 1247px) {
  .databox__group--height {
    max-height: 330px;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

dialog .fullwidth {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.modal__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}