.subContainer {

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
  }

  &__icon {
    display: flex;
    align-items: baseline;
  }

  &__fullScreenIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__selectSection {
    border-bottom: 1px solid #dddddd;
  }

  &__subSection {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddd;
  }

  &__segmented-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    // border-bottom: 1px solid #dddddd;
  }

  &__calltoaction {
    display: flex;
    align-items: center;
  }

  &__footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
  }

  &__footer-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
  }

  &__legendContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 8px;
  }

  &__legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 6px 10px 8px 6px;

    &--icon {
      height: 8px;
      width: 12px;
      margin-right: 5px;
      // background-color: aqua;
    }
  }

  &__contentIndicator {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__chart {
    display: flex;
    flex-direction: row;

    &--section {
      display: flex;
      justify-content: center;
      align-items: center;

      &--unit {
        margin-top: 2.5rem;
        rotate: -180deg;
        writing-mode: vertical-rl;
        white-space: nowrap;
      }
    }

    &--canvas {
      flex: 3;
    }
  }
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
  /* Ensure it takes up the full width of its container */
}

.text {
  font-size: 0.625rem;
}

.card-container {
  position: relative;
  /* Assure que le menu est positionné relativement à la carte */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  z-index: 510;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
  right: 16px;
  top: 60px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  text-decoration: none;
  /* Supprime le soulignement du lien */
  color: inherit;
  /* Utilise la couleur héritée du parent, au lieu de la couleur par défaut du lien */
  padding: 12px 16px;
  display: block;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  /* Change la couleur de fond au survol */
  color: inherit;
  /* Maintient la couleur au survol */
}

.dropdown-item:active,
.dropdown-item:focus {
  outline: none;
  /* Supprime les bordures ou l'outline par défaut lors du focus ou clic */
}

.fr-icon-question-line, .fr-icon-more-line, .fr-icon-camera-line, .fr-icon-download-fill {
  color: #000091;
}

.serie__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em;
  /* Hauteur pour 2 lignes avec interligne normal */
  white-space: normal;
  /* Permet les sauts de ligne */
  font-size: 1.2rem;
  line-height: 1.8rem;
  /* Assure une bonne hauteur de ligne pour l'ellipsis */
}

.subContainer__title {
  position: relative; /* Anchors the tooltip */
}

.icon-container {
  position: relative; /* Position the tooltip relative to the icon */
  display: inline-block; /* Ensure the icon and tooltip stay together */

  .serie__icon {
    cursor: pointer; /* Optional, but indicates that the icon is interactive */
  }

  .tooltip {
    width: 300px;
    position: absolute;
    top: 117%;
    left: 60%;
    transform: translateX(-50%); /* Center the tooltip horizontally */
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 12px 0px #00001229;
    color: #333;
    z-index: 999999999;
    font-size: 0.875rem;
    text-align: left;
    white-space: normal;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: .8rem;
    line-height: 1.4;

    &__triangle {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid #fff;
      /* box-shadow: 0px 4px 12px 0px rgba(0, 0, 18, 0.1607843137); */
      z-index: 1;
    }

    &__title {
      font-size: .8rem !important;
      margin: 0;
      font-weight: bold;
    }

    &__description {
      font-weight: 400;
      font-size: .8rem !important;
      margin: 0;
    }
  }
}

.up-down__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.fr-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Assombrit l'arrière-plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Pour s'assurer que la modale est au-dessus */
}

.fr-modal-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.fr-modal__body {
  max-height: 100% !important;
  height: 100% !important;
}

.fr-icon-modal-fill {
  width: 32px;
  /* height: 32px; */
  display: inline-block;
  /* background-color: #00008F; */
  -webkit-mask-image: url("/img/modal-fill.svg");
  mask-image: url("/img/modal-fill.svg"); 
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  outline: none;
}

