.subContainer {

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    height: 80px;
    max-height: 80px;
  }

  &__icon {
    display: flex;
    align-items: baseline;
  }

  &__fullScreenIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
  }

  &__selectSection {
    border-bottom: 1px solid #dddddd;
  }

  &__subSection {
    border-bottom: 1px solid #dddddd;
  }

  &__segmented-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
  }

  &__calltoaction {
    display: flex;
    align-items: center;
  }

  &__footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    max-height: 64px;
  }

  &__footer-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
  }

  &__legendContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 8px;
  }

  &__legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 6px 10px 8px 6px;

    &--icon {
      height: 8px;
      width: 12px;
      margin-right: 5px;
    }
  }

  &__contentIndicator {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__chart {
    display: flex;
    flex-direction: row;
    max-height: 40%;

    &--section {
      display: flex;
      justify-content: center;
      align-items: center;

      &--unit {
        margin-top: 2.5rem;
        rotate: -180deg;
        writing-mode: vertical-rl;
        white-space: nowrap;
      }
    }

    &--canvas {
      flex: 3;
    }
  }
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
  /* Ensure it takes up the full width of its container */
}

.text {
  font-size: 0.625rem;
}

.card-container {
  position: relative;
  /* Assure que le menu est positionné relativement à la carte */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  z-index: 510;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
  right: 10px;
  top: 45px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  text-decoration: none;
  color: inherit;
  padding: 10px 12px;
  display: block;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  width: 100%;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  /* Change la couleur de fond au survol */
  color: inherit;
  /* Maintient la couleur au survol */
}

.dropdown-item:active,
.dropdown-item:focus {
  outline: none;
  /* Supprime les bordures ou l'outline par défaut lors du focus ou clic */
}

.fr-icon-question-line, .fr-icon-more-line, .fr-icon-camera-line, .fr-icon-download-fill {
  color: #000091;
}

.serie__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.4em;
  /* Hauteur pour 2 lignes avec interligne normal */
  white-space: normal;
  /* Permet les sauts de ligne */
  font-size: 1.2rem;
  line-height: 1.5rem !important;
  /* Assure une bonne hauteur de ligne pour l'ellipsis */
}

.subContainer__title {
  position: relative; /* Anchors the tooltip */
}

.tooltip__description {
  font-weight: 400;
  font-size: 0.8rem !important;
  margin: 0;
  line-height: 1.4;
}

.tooltip__title {
  font-size: .8rem !important;
  margin: 0;
  font-weight: bold;
}

.up-down__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.fr-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Assombrit l'arrière-plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Pour s'assurer que la modale est au-dessus */
}

.fr-modal {
  &-content {
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }

  &__body {
    max-height: 95% !important;
    height: 95% !important;
    margin: 1rem;
  }
}

.fr-icon-modal-fill {
  width: 32px;
  /* height: 32px; */
  display: inline-block;
  /* background-color: #00008F; */
  -webkit-mask-image: url("/img/modal-fill.svg");
  mask-image: url("/img/modal-fill.svg"); 
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  outline: none;
}

canvas {
  width: 100%;
  height: 100%;
}

.fullscreen-canvas {
  width: 100vw;
  height: 100vh;
}

.modal-canvas {
  width: 80vw;
  height: 80vh;
}

.databox-card {
  box-shadow: 0px 2px 6px 0px #00001229;
}