/* dataBox */
.databox {
    &-card {
      box-shadow: 0px 2px 6px 0px #00001229;
      background-color: white;
      flex: 1;
      box-sizing: border-box;
    }
  
    &__header {
      position: relative;
  
      &-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
  
      &-serietitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3.6em;
        white-space: normal;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
  
      &-icon {
        display: flex;
        align-items: baseline;
      }
  
      &-fullScreenIcon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        column-gap: 5px;
      }
  
      &-subSection {
        max-height: 40px;
      }
    }
  
    &__content {
      &-indicator {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        &-text {
            word-wrap: break-word;
            white-space: normal;
            width: 100%;
            text-align: center;
        }
      }
  
      &-selectSection {
        max-height: 40px;
        display: flex;
        align-items: center;
      }
  
      &-legendContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 8px;
        flex-wrap: wrap;
      }
    
      &-legend {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 6px 10px 8px 6px;
    
        &-icon {
          height: 12px;
          width: 12px;
        }
      }
  
      &-chart {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        
        &-section {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: -5px;
    
          &-unit {
            margin-top: 2.5rem;
            rotate: -180deg;
            writing-mode: vertical-rl;
            white-space: nowrap;
          }
  
          &-canvas {
            flex: 3;
            display: contents;
          }
        }   
      }
  
      &-table-responsive {
        width: 100%;
        max-height: 414px;
        height: 414px;
        overflow-x: auto;
      }
    }
  
    &__footer {
      &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-height: 60px;
        height: 60px;
        width: 100%;
        gap: 24px;
  
        &-text {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }
  
        &__segmented-controls {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-self: center;
        }
      
        &__calltoaction {
          display: flex;
          align-items: center;
        }
      }
    }
    &__group {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      &--height {
        height: 100%;
        /* par défaut pour les écrans inférieurs à 1248px */
      }
    }
  }
  
  /* dropdown */
  
  .dropdown {
    position: relative;
    display: inline-block;
    
    &-menu {
      z-index: 510;
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      width: 200px;
      right: 15px;
      top: 65px;
    }
  
    &-item {
      text-decoration: none;
      color: inherit;
      padding: 10px 12px;
      display: block;
      border-bottom: 1px solid #eee;
      font-size: 0.9rem;
      width: 100%;
      text-align: left;
    }
  }
  
  .dropdown-toggle, .infobulle-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
    color: inherit;
  }
  
  .dropdown-item:active,
  .dropdown-item:focus {
    outline: none;
  }
  
  /* icons */
  .fr-icon-question-line,
  .fr-icon-more-line,
  .fr-icon-camera-line,
  .fr-icon-download-fill {
    color: #000091;
  }
  
  .fr-icon-modal-fill {
    width: 32px;
    display: inline-block;
    -webkit-mask-image: url("/img/modal-fill.svg");
    mask-image: url("/img/modal-fill.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    outline: none;
  }
  
  /* other */
  
  .tooltip {
    &__title {
      font-size: .8rem !important;
      margin: 0;
      font-weight: bold;
      line-height: 1.4;
    }
  
    &__description {
      font-weight: 400;
      font-size: 0.8rem !important;
      margin: 0;
      line-height: 1.4;
    }
  }
  
  .text {
    font-size: 0.625rem;
  }
  
  .up-down__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    align-items: center;
  }
  
  .box {
    flex: 1;
    max-width: 45%;
    background-color: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
    display: contents;
  }
  
  /* Responsive */
  
  @media (min-width: 1247px) {
    .databox__group--height {
      max-height: 330px;
      height: 330px;
    }
  }