.principaux-indicateurs-axes-cell {
  cursor: pointer;

  &__axe-tag{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: hidden;
  
    &:hover{
      display: flex;
      overflow: visible;
      white-space: wrap;
    }
  }
}

.cell-multiline-with-hover {
  padding-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;

  &:hover{
    line-clamp: unset;
    -webkit-line-clamp: unset;
    white-space: normal;
    overflow: visible;
    z-index: 9999;
    position: relative;
    background-color: white;
  } 
}

.cell-multiline-without-hover {
  padding-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
}

.cell-social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  
    &__icon {
      height: auto;
      max-width: 25px;
      max-height: 25px;
      display: block;
      margin: 0 auto;
    }
}

.cells-tab-segment-graph {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column-word-position {
  text-align: center;
}