.l_col{
    display: flex;
    flex-direction: column;
    .sep, .sep-viz {
      border-bottom:1px solid #E5E5E5;
    }

    @media (min-width: 62em) {
      .sep-viz {
        display: none;
      }
    }

    .l_box_title{
      color: border-default-blue-france;
    }
    .flex{
      display: inline-flex;
      .legende_dot{
        min-width: 0.7rem;
        width: 0.7rem;
        height: 0.7rem;
        display: inline-block;
        margin-top: 0.4rem;
        align-items: left;
        margin-right: 0.1rem;
      }
    }
    .l_box_number_container {
      display: flex;
      justify-content: space-between;
      .l_box_trend {
        &.down {
          .trend_ico {
            transform: rotate(90deg);
          }
        }
        &.horizontal {
          .trend_ico {
            transform: rotate(45deg);
          }
        }
        &.green {
          color: #357941;
          background-color: #d9ffeb;
          .trend_ico {
            path {
              fill: #357941;
            }
          }
        }
        &.red {
          color: #d80600;
          background-color: #fff4f3;
          .trend_ico {
            path {
              fill: #d80600;
            }
          }
        }
        &.blue {
          color: #0768d5;
          background-color: #f0f7ff;
          .trend_ico {
            path {
              fill: #0768d5;
            }
          }
        }
      }
    }
    .scale{
      margin-top: auto;
      .scale_container{
        height: 1.5rem;
      }
      div:last-child {
        display:flex;
        justify-content: space-between;
      }
    }

    @media (min-width: 36em) {
      .l_box_number_container {
        display: block;
        justify-content: unset;
      }
    }
  }