.widget_container {
  .ml-lg {
    margin-left: 0;
  }

  @media (min-width: 62em) {
    .ml-lg {
      margin-left: 3rem;
    }
  }

  .r_col {
    align-self: center;

    .flex {
      display: flex;

      .legende_dot {
        min-width: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #000091;
        display: inline-block;
        margin-top: 0.25rem;
        margin-left: 0;
      }

      .legende_dash_line1 {
        min-width: 0.35rem;
        width: 0.35rem;
        height: 0.2rem;
        border-radius: 0%;
        display: inline-block;
        margin-top: 0.6rem;
      }

      .legende_dash_line2 {
        min-width: 0.35rem;
        width: 0.35rem;
        height: 0.2rem;
        border-radius: 0%;
        display: inline-block;
        margin-top: 0.6rem;
        margin-left: 0.1rem;
      }
    }
  }

  .chart canvas {
    max-width: 100%;
  }

  .chart_legend {
    flex-direction: row;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
  }

  .linechart_tooltip {
    opacity: 0;
    width: 11.25rem;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 6px 18px 0px #00001229;
    text-align: left;
    pointer-events: none;
    font-size: 0.75rem;
    min-width: 180px;
    max-width: 300px;

    .tooltip_header {
      width: 100%;
      font-size: 12px;
      max-height: 3.5rem; // Hauteur pour 2 lignes
      color: #000; // Titre en noir
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2; // Limite à 2 lignes
      -webkit-box-orient: vertical;
      background-color: #f6f6f6;
      padding-top: 8px;
      padding-left: 12px;
      padding-right: 8px;
      padding-bottom: 12px;
      line-height: 1.2;
    }

    .tooltip_body {
      line-height: 1.67;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: auto;

      .tooltip_dot {
        min-width: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
        background-color: #000091;
        display: inline-block;
      }

      .tooltip_place {
        color: #242424;
        font-size: 14px;
        font-weight: 400;
      }

      .tooltip_value {
        width: 100%;
        display: contents;
        color: #242424;
        font-size: 14px;

        &-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 8px;
          padding-left: 12px;
          padding-right: 8px;
          padding-bottom: 12px;
          border-bottom: 1px solid #e0e0e0;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}