.widget_container {
  .gauge-container {
    width: 100%;
    display: flex;

    .jauge {
      border: 1px solid var(--border-default-grey);
      background-color: var(--background-raised-grey);
      width: 100%;
    }

    .jauge-fill {
      height: 100%;
      background-color: var(--blue-france-850-200);
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .jauge-text {
      position: absolute;
      left: 0;
      margin-top: auto;
      margin-bottom: auto;
    }

    .r-align {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .r_col {
    align-self: center;

    .flex {
      display: flex;
      width: 100%;
      margin: auto;

      .legende_dot {
        margin-left: 0px;
        min-width: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        min-width: 0.8rem;
        display: inline-block;
        margin-top: 0.25rem;
      }
    }

    .target_legend {
      border: 1px solid var(--border-default-grey);
      background-color: var(--background-raised-grey);
    }

    .actual_legend {
      background-color: var(--blue-france-850-200);
    }
  }
}
