.l_col {
  display: flex;
  flex-direction: column;

  .sep {
    border-bottom: 1px solid var(--border-default-grey);
  }

  .flex {
    display: inline-flex;

    .legende_dot {
      min-width: 0.7rem;
      width: 0.7rem;
      height: 0.7rem;
      display: inline-block;
      margin-top: 0.4rem;
      align-items: left;
      margin-right: 0.1rem;
    }
  }

  .scale {
    &_container {
      height: 1.5rem;
    }

    &_values {
      display: flex;
      justify-content: space-between;
    }
  }
}
