.chart_legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.legende_dot {
  display: inline-block;
  min-width: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.25rem;
  margin-left: 0;
}

.legende_dash_line {
  display: inline-block;
  min-width: 0.35rem;
  width: 0.35rem;
  height: 0.2rem;
  border-radius: 0;
  margin-top: 0.6rem;
}

.legende_dash_line_end {
  margin-left: 0.1rem;
}
