.scroll {
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
}

.scroll thead {
  position: sticky;
  top: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
