.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

  &__loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
}
.subContainer {
  &__border-section {
    border: 1px solid #dddddd;
  }
}