a {
    color : blue;
}

.modalTitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.modaleSection {
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    width: 100%;
}

.complementaryInfo {
    
    &__subtitle{
        font-weight: bold;
        color:black;
    }
    &__text{
        font-style: italic;
        text-justify: inter-word;
    }
    &__specialText{
        text-decoration: underline;
        color: blue;
    }
    
    &__mediaPie{
        @media (min-width:1024px) {
            float: right;
            max-height: 30rem;
            overflow-y: scroll;
        }
    }
    &__mediaBar{
        @media (min-width:1024px) {
            float: right;
            max-height: 39.5rem;
            overflow-y: scroll;
        }
    }
    &__mediaSerie{
        @media (min-width:1024px) {
            float: right;
            max-height: 37rem;
            overflow-y: scroll;
        }        
    }
    &__mediaKpi{
        @media (min-width:1024px) {
            float: right;
            max-height: 19rem;
            overflow-y: scroll;
        }
    }
    @media (min-width:1024px) {
        float: right;
        max-height: 28rem;
        overflow-y: scroll;
    }
}

.scroll_media{
    @media (min-width:1024px) {
        float: right;
        max-height: 38rem;
        overflow-y: scroll;
    }
}

.modaleGraphOrTabSubsection {
    border-top: solid 1px #dddddd;

    @media (min-width:1024px) {
        border-right: solid 1px #dddddd;
        border-top: none;
    }


    &__selectSource {
        border-bottom: 1px solid #dddddd;
    }

    &__graph {
        width: 100%;
        // padding: 24px;
    }

    &__table {
        width: 100%;
        padding: 24px;
        @media (min-width:1024px) {
            overflow-y: scroll;
            max-height: 20rem;
        }
    }

    &__segmentedControls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-self: center;
        border-bottom: 1px solid #dddddd;
    }

    &__legendContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
    }

    &__legend {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 8px 12px 8px 8px;

        &--icon {
            height: 10px;
            width: 10px;
            margin-right: 5px;
        }
    }

    &__footerText {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-top: solid 1px #dddddd;
    }

    &__footerBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: solid 1px #dddddd;

        @media (min-width:768px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-self: center;
            border-top: solid 1px #dddddd;
        }
    }

    &__contentIndicator {
        display: flex;
        border-bottom: 1px solid #dddddd;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}