.widget_container {
  .ml-lg {
    margin-left: 0;
  }

  @media (min-width: 62em) {
    .ml-lg {
      margin-left: 3rem;
    }
  }

  .r_col {
    align-self: center;

    .flex {
      display: flex;

      .legende_dot {
        min-width: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #000091;
        display: inline-block;
        margin-top: 0.25rem;
        margin-left: 0;
      }

      .legende_dash_line1 {
        min-width: 0.35rem;
        width: 0.35rem;
        height: 0.2rem;
        border-radius: 0;
        display: inline-block;
        margin-top: 0.6rem;
      }

      .legende_dash_line2 {
        min-width: 0.35rem;
        width: 0.35rem;
        height: 0.2rem;
        border-radius: 0;
        display: inline-block;
        margin-top: 0.6rem;
        margin-left: 0.1rem;
      }
    }
  }

  .chart canvas {
    max-width: 100%;
  }

  .linechart_tooltip {
    opacity: 0;
    width: 11.25rem;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 999;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 18, 0.16);
    text-align: left;
    pointer-events: none;
    font-size: 0.75rem;

    .tooltip_header {
      width: 100%;
      height: 1.75rem;
      background-color: #f6f6f6;
      color: #6b6b6b;
      padding-left: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .tooltip_body {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.25rem;
      line-height: 1.67;

      .tooltip_dot {
        min-width: 0.7rem;
        width: 0.7rem;
        height: 0.7rem;
        background-color: #000091;
        display: inline-block;
        margin-top: 0.25rem;
        margin-right: 0.25rem;
      }

      .tooltip_place {
        color: #242424;
      }

      .tooltip_value {
        color: #242424;
        font-weight: bold;
      }
    }
  }
}