.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: pointer;
}

.widget_container {
  .m-lg {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .map {
    display: flex;
    flex-direction: column;
    align-items: center;

    .map_tooltip {
      width: auto;
      height: auto;
      background-color: white;
      position: fixed;
      z-index: 999;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 18, 0.16);
      text-align: left;
      pointer-events: none;
      font-size: 0.75rem;

      .tooltip_header {
        width: 100%;
        height: 30px;
        background-color: #f6f6f6;
        color: #6b6b6b;
        padding-left: 0.75rem;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
      }

      .tooltip_body {
        padding-left: 0.75rem;
        padding-top: 0.25rem;
        padding-right: 0.75rem;
        line-height: 1.67;

        .tooltip_place {
          color: var(--text-default-grey);
        }

        .tooltip_value {
          color: var(--text-default-grey);
          font-weight: bold;
        }
      }
    }

    .france_container {
      height: 100%;

      svg {
        height: 100%;
        width: 100%;

        g {
          cursor: pointer;
        }
      }
    }

    .om_container {
      width: 100%;

      .om {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--grey-200-850);

        span {
          display: block;
          white-space: nowrap;
        }

        g {
          cursor: pointer;
        }
      }
    }
  }

  @media (min-width: 62em) {
    .m-lg {
      margin-left: 3rem;
      margin-top: 0
    }
    .map {
      height: 100%;
    }
  }
  @media (max-width: 62em) {
    .chart .flex {
      margin-left: 0 !important
    }
    .map {
      width: 100%;
    }
  }

  .r_col {
    align-self: stretch;

    .flex {
      display: flex;
      align-items: center;
    }
  }
}

.padding-25 {
  @media (min-width: 770px) {
    padding-right: 25%;
  }
}