@media (max-width: 767px) {
  .legend {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
  }

  .canva {
    display: flex;
    flex-direction: row;
    padding-right: 0.5rem;
  }
}

.widget_container {
  .ml-lg {
    margin-left: 0;
  }

  @media (min-width: 62em) {}

  .legende_dot {
    min-width: 0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #000091;
    display: inline-block;
    margin-top: 0.25rem;
  }

  .r_col {
    align-self: center;

    .flex {
      display: flex;

      .legende_dot {
        min-width: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #000091;
        display: inline-block;
        margin-top: 0.25rem;
      }
    }
  }

  .linechart_tooltip {
    // background-color: red;
    opacity: 0;
    width: 12rem;
    // height: auto;
    background-color: white;
    position: relative;
    z-index: 999;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 18, 0.16);
    text-align: left;
    pointer-events: none;
    font-size: 0.75rem;

    .tooltip_header {
      // width: 100%;
      // height: 1.75rem;
      background-color: #f6f6f6;
      color: #6b6b6b;
      padding-left: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      text-align: left;
    }

    .tooltip_body {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.25rem;
      line-height: 1.67;

      .tooltip_dot {
        min-width: 0.7rem;
        width: 0.7rem;
        height: 0.7rem;
        background-color: #000091;
        display: inline-block;
        margin-top: 0.25rem;
        margin-right: 0.25rem;
      }

      .tooltip_place {
        color: #242424;
      }

      .tooltip_value {
        color: #242424;
        font-weight: bold;
      }
    }
  }
}